.green,
#title-project {
	color: #009530 !important;
}

.member-description {
	width: 25em !important;
}

.member-name {
	margin-bottom: 0.5em;
}

.member-description p {
	text-align: justify;
}

#credits {
	margin-top: 1em;
}
