#about-us {
  background-color: #202a59;
}

.us-container {
  width: 100%;
  padding: 0 50px;
  overflow: hidden;
  text-align: center;
}

.member {
  display: inline-block;
  text-align: center;
  width: 24%;
}
.member img {
  padding: 10px;
  width: 90%;
}

.member-description {
  height: 20px;
  color: white;
  position: relative;
  width: 100%;
  padding: 0px;
}
