#services {
  background-color: #efefef;
  border-bottom: 1px solid #cccccc;
  min-height: 520px;
  position: relative;
  color: #5b5b5b;
  font-family: "Source Sans Pro", "Helvetica Neue", "Myriad Pro", "Trebuchet MS", sans-serif;
}
.half {
    float: left;
    width: 46%;
    padding: 2%;
    margin-right: 25px;
}
#row-services{
  position: absolute;
  margin: 15%;
  margin-top: 4%;
  padding-top: 40px;
  padding-bottom: 70px;
  padding-right: 12px;
  overflow: hidden;
}
#title-services {
  font-weight: 500;
  color: rgb(1, 43, 90);
}
#text-services {
  font-size: 14px;
  font-weight: 400;
  line-height: 160%;
  width: 70%;
  float: left;
  margin-left: 30px;
}
#icon-services {
  width: 20%;
  float: left;
  padding-top: 20px;
}
#icon-services img {
  height:90px;
  width:90px;
}
