#school {
  min-height: 720px;
  position: relative;
  color: white;
  font-family: "Source Sans Pro", "Helvetica Neue", "Myriad Pro", "Trebuchet MS", sans-serif;
  text-align: center;
  background: url("../pictures/blur-ig2i.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#row-school{
  position: absolute;
  margin: 15%;
  margin-top: 8%;
  padding: 7%;
  padding-top: 1%;
  padding-bottom: 3%;
  background-color: rgba(52, 188, 255, 0.6);
  border-radius: 5px;
}
#title-school {
  font-weight: bold;
  font-size: 48px;
  margin-bottom: 40px;
}
#text-school {
  font-size: 16px;
  font-weight: 400;
  line-height: 180%;
}
.play_btn {
  cursor: pointer;
  color: white;
}
.play_btn:hover {
  text-shadow: 2px 2px 4px #000000;
}
